/* Font Per Il Counter (Pacifico / Kanit) */
@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Pacifico&display=swap');

/* Colore Sfondo */
body{
background-color: #ff2301;
}

/* Contenitore Del Counter */
.container-counter{
position: absolute;
left: 770px;
top: 240px;
height: 400px;
width: 300px;
border: 8px solid black;
border-radius: 30px;
background-color: #ff9900;
}

/* Counter */
#counter{
position: absolute;
left: 88px;
top: 100px;
font-size: 35px;
color: black;
font-family: Pacifico;
}

/* Scritta CountDown di 3 secondi */
h1{
margin-left: 30px;
margin-top: 280px;
font-size: 20px;
font-family: Kanit;
}